* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Raleway', sans-serif;
}

button,
input {
  font-family: 'Raleway', sans-serif;
}

.content-wrapper {
  max-width: 1200px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 1rem;

  @media screen and (min-width: 1200px) {
    padding: 1rem 0;
  }
}
