@import '../../styles/variables';

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 2rem;

  @media screen and (min-width: 1616px) {
    padding: 0;
  }
}

.card {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;

  padding: 2rem;
  background-color: $white;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;

  cursor: default;

  &__number {
    background-color: $green-light;
    color: $green-primary;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
  }

  &__content {
  }

  &__title {
    font-size: 1.2rem;
  }

  &__desc {
    color: $gray-dark;
  }

  @media screen and (min-width: 1200px) {
    min-height: 160px;
    width: 30%;
  }

  &--active {
    background-color: #fff;
    box-shadow: 0 10px 100px 1px rgba(200, 200, 200, 0.5);
    transform: scale(1.05);
    & .card__number {
      background-color: $green-primary;
      color: $green-light;
    }
  }
}
