.info,
.error {
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  padding: 1rem;

  border-radius: 4px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
  }

  &__text {
    margin: 1rem 0;
  }
}

.info {
  background: rgba(197, 172, 30, 0.8);
}

.error {
  background: rgba(180, 43, 38, 0.8);
}
