@import '../../../styles/variables';

.button-solid {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;

  color: $white;
  background: linear-gradient(90deg, $blue-primary, $blue-secondary);
  border: none;
  border-radius: 1rem;

  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: linear-gradient(
      90deg,
      $blue-darker-primary,
      $blue-darker-secondary
    );
  }
}
