.auth {
  display: flex;
  align-items: center;
  min-height: 80vh;
  margin: 1rem 0;
  border-radius: 4px;

  &__form {
    width: 100%;
  }

  &__aside {
    display: none;
  }

  &__error-text {
    color: orangered;
    font-size: 0.8rem;
  }

  @media screen and (min-width: 1200px) {
    &__form {
      width: 40%;
    }

    &__aside {
      display: block;
      width: 60%;
      height: 100%;
      background: linear-gradient(90deg, #006ee6, #0062cc);
      border-radius: 4px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem 2rem 2rem 0;

  label {
    width: 100%;
  }

  input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: transparent;
  }

  &__star {
    font-size: 1.5rem;
    color: orangered;
  }
}
