.nav {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(150, 150, 150, 0.1);
}

.nav-links {
  display: flex;
  gap: 2rem;

  max-width: 1200px;
  margin: 0 auto;

  list-style: none;

  &__link {
    display: block;
    text-decoration: none;
  }
}
