@import '../../styles/variables';
@import '../../styles/mixins';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem;
}

.logo {
  color: $blue-primary;
  margin-right: 2rem;
}

.nav {
  position: fixed;
  width: 100%;
  top: -100vh;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px 100px rgba(144, 238, 144, 0.267);

  z-index: 10000;

  transition: top 0.3s ease-in-out;

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    color: $blue-primary;
  }

  &__login-link,
  &__login-btn {
    padding: 0.5rem 1rem;
    background-color: rgb(125, 224, 125);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(231, 238, 241);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
}

.user-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__user-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__username {
  }
}

.responsive-nav {
  top: 0;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;

  background-color: rgb(125, 224, 125);
  color: rgb(231, 238, 241);

  border: none;
  border-radius: 4px;

  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &--open {
  }

  &--close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    position: static;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // padding: 0 0 0 20%;

    background-color: transparent;
    box-shadow: none;
    &__links {
      flex-direction: row;
      gap: 2rem;
    }
  }

  .user-panel {
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    &__user-info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
