.nav {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(150, 150, 150, 0.1);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  gap: 2rem;

  list-style: none;

  &__link {
    display: block;
    text-decoration: none;

    &--active {
      font-weight: 700;
    }
  }

  &__signin {
    justify-content: flex-end;
  }
}

.active {
  color: orange;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 2rem;
}
