$blue-primary: rgb(0, 110, 230);
$blue-secondary: rgb(0, 98, 204);
$blue-darker-primary: rgb(0, 85, 179);
$blue-darker-secondary: rgb(0, 73, 153);
$green-primary: rgb(31, 196, 49);
$green-secondary: rgb(109, 247, 8);
$white: rgb(255, 255, 255);
$gray: rgb(233, 233, 233);
$gray-dark: rgb(99, 99, 99);

$red: rgb(175, 22, 22);
$yellow: rgb(156, 133, 0);
